apscheduler==3.11.0
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.1
cryptography==44.0.2
future==1.0.0
idna==3.10
peewee==3.17.9
pillow==11.2.1
pip==25.0.1
plyer==2.1.0
pycparser==2.22
pyobjc-core==11.0
pyobjc-framework-cocoa==11.0
pyobjc-framework-quartz==11.0
pyobjus==1.2.3
pystray==0.19.5
pyzk==0.9
requests==2.32.3
six==1.17.0
tzlocal==5.3.1
urllib3==2.4.0
